* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    
    background: black;

}

.header {
    background-color: #171a24;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    height: 120px;
    padding: 5px 10px;
}

.header .nav-links {
    list-style: none;
    /*margin-left: 220px;*/
}

.header .nav-links li {
    padding: 0 20px;
}

.header .nav-links a:hover {

    color: white;

}

.header .nav-links a {

    font-size: 30px;
    color: #e2daff;
    text-decoration: none;
}

.logo {

    margin-right: 5em;
    padding-left: 20vh;
    float: left;

}

.logo a {

    width: 100vh;
    height: 100vh;

}

.menu ul {

    border-radius: 5px;
    padding: 0 0 0 1vh;
    background-color: #171a24;

}

.menu ul li {

    padding: 2vh;
    display: inline;
    position: relative;

}

.menu ul li a {


    color: #e2daff;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: background .3s;

}

.menu ul ul {

    background-color: #1e212e;

    display: none;
    left: 0;
    position: absolute;
    width: 160px;

}

.menu ul li:hover ul {

    display: block;

}

.menu ul ul li a {

    display: block;

}

.rodape{

    background-color:#171a24;
    padding: 2em;
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    color: white;
    font-family: sans-serif;

}

.rodape-logo{

    display: flex;
    align-items: center;

}

.rodape-logo img{


    margin-right: 10px;

}

@font-face{

    font-family: 'modern-goth';
    src: url(pack/modern-goth.ttf) format(truetype);

}

.rodape-nome{

    width: 200px;
    height: 100px;
    border: solid 1px white;

}

.rodape-nome h7{

    font-family: modern-goth;
    font-size: 5em;
    font-weight: normal;
    font-style: normal;
    color:white;
    margin: 3vh;

}

.rodape-descricao{

    flex: 1;
    text-align: center;
    margin: 10px 0;

}

.rodape-copp{

    font-size: 15px;
    margin: 10px;

}

.rodape-outros{

    margin-top: 15px;

}

.rodape-outros a{

    margin: 10px;
    text-decoration: none;
    color: white;

}

.rodape-outros a:visited{

    margin: 10px;
    text-decoration: none;
    color: white;

}



.rodape-socialmedia{

    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.rodape-socialmedia ul{

    display: flex;
    list-style: none;
    padding: 0;

}

.rodape-socialmedia li{

    margin: 0 10px;
    display: flex;
    align-items: center;

}

.rodape-socialmedia li a{

    margin-left: 10px;
    text-decoration: none;
    color: white;

}

.rodape-socialmedia li a:visited{

    margin-left: 10px;
    text-decoration: none;
    color: white;

}

.span00{

    font-size: 18px;


}

/*                                              LOJA                                                         */

.exp-corpo {

    background-color: brown;
    width: 150vh;
    height: 200vh;
    margin: auto;

}

.cont-botoes {
    padding: 200px 0px 0px 0px;
    display: table;
}

.botoes {
    display: table-cell;
    float: left;
    margin-left: 95px;
}

.botoes button {
    background-color: black;
    border-style: none;
    width: 13vh;
    height: 30px;
    margin-left: 30px;
    border-radius: 5px 5px 0px 0px;

    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.botoes button:hover {
    background-color: #171a24;
}

.botoes-linha {
    display: grid;
    margin: auto;
    background-color: black;
    width: 120vh;
    height: 20px;
}



/*                                              PERFIL                                                         */

.perfil-wallpaper{

    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZWc1dGxkZGc2Nms3cHcwajRobGZ3NHhuNGoxZWR1NXl0OTJ5ZG44NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3dhmyq6EKw2x7eFt4X/giphy.gif);
    background-size:contain;
    background-position: center;
    
    width: 100%;
    height: 100%;
    padding: 10vh 0vh 10vh 0vh;

}

.perfil-corpo {

    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);

    display: table;
    margin: auto;
    /*margin-top: 10vh;
    margin-bottom: 10vh;*/

    width: 125vh;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.678);

}

.perfil-conteudo {

    padding: 2em;

    display: table-cell;

}

.perfil-moldura {

    display: table-cell;
    float: left;
    margin: 2em;
    padding: 3vh;
    
    background-image: url(image/frame04.gif);
    background-size: cover;
    
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
    
    width: 36vh;
    height: 36vh;
    
}

.perfil-foto {
    
    display: table-cell;
    
    background-image: url(image/foto-perfil.jpg);
    background-size:cover;
    background-color: black;
    width: 30vh;
    height: 30vh;
    
}

.perfil-status {
    
    color: white;
    display: table;
    width: 60%;
    height: 45vh; 
    
}

.perfil-nome{


    width: 100%;
    height: 20%;

    /*display: table-cell;
    float: none;*/

    font-family: helvetica;
    text-align: center;
    font-size: 40px;


}

.perfil-bio{

    margin-top: 5%;
    padding: 1vh;

    width: 100%;
    height: 75%;

}

h2{

    text-align:left;

}

.perfil-out {

    background-color: black;

    display: table;
    padding: 10vh;
    margin: 2em auto 2em auto;
    width: 110vh;

    font-family: sans-serif;
    font-size: 20px;
    text-align: justify;
    color: white;
}

.perfil-containers{

    display: table;
    width: 100%;
    height: 100vh;

}

.perfil-containers-00 {

    background-color: #0B0B28;

    display: table-cell;
    float: left;

    width: 70vh;
    height: 120vh;

}

.perfil-containers-01 {

    background-color: black;

    display: table-cell;
    float: right;


    width: 40vh;
    height: 80vh;

}

.perfil-containers-02{

    background-color:#1e212e;
    display: table-cell;
    float:right;

    margin-top: 2em;

    width: 40vh;
    height: 36vh;

}

.perfil-amigos {

    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color: white;


    display: table;
    margin: 2em auto 2em auto;
    width: 110vh;
    padding-left: 4vh;
    padding-right: 4vh;
    background-color: black;

}

.perfil-amigos div {


    background-color: #171a24;

    display: table-cell;
    float: left;

    border-radius: 100%;
    margin: 10px;
    width: 10vh;
    height: 10vh;

}

/*                                              STORE INDEX                                                         */

.corpo-banner {

    background-color: aqua;

    display: table;
    margin-top: 20vh;

    width: 100%;
    height: 70vh;

}

.esquerda-banner {

    float: left;
    transform: scaleX(-1);
    /*  inverter o botão  */
    margin-left: 3vh;

}

.direita-banner {

    float: right;
    margin-right: 3vh;

}

.corpo-banner button {

    display: table-cell;

    width: 10vh;
    height: 10vh;
    margin-top: 30vh;

    border-radius: 100%;
    border: none;

    background-image: url(image/btn_lr.png);
    background-size: 100%;

}

.between{

    background-color:coral;
    width: 75%;
    height: 100vh;
    margin: 10vh auto 10vh auto;


}

.corpo-apresent {

    background-color: #0B0B28;
    display: table;

    width: 100%;
    height: 125vh;
    padding: 4em;

}

.apresent {


    background-color: black;
    border-radius: 5vh;

    display: table-cell;
    float: right;

    /*  cima  /  direita  /  esquerda  /  baixo  */
    padding: 4em;

    width: 60%;
    height: 100%;

    font-family: sans-serif;
    text-align: justify;
    font-size: 25px;
    color: white;

}

.tipos {

    background-color: white;
    justify-content:space-between;
    display: flex;
    margin: 5vh auto 5vh auto;
    /*padding: 0px 200px;*/

    width: 75%;
    height: 22em;
    align-items: center;

}

.tipos div {

    background-color: crimson;

    display: block;
    margin: 20px;

    border-radius: 50%;
    width: 250px;
    height: 250px;

}

h4 {
    font-family: sans-serif;
    font-size: 25px;
    color: white;

    margin: auto;
    margin-top: 10em;
}

.planos {

    background-color: #73BC89;
    margin: 10vh auto 10vh auto;

    width: 75%;
    height: 100vh;

}

.placeholder {

    display: flex;
    background-color: rgb(99, 82, 82);
    margin: 10vh auto 10vh auto;
    margin-bottom: 10vh;
    width: 75%;
    height: 75vh;

}

.placeholder div {

    display: flex;
    float: left;
    margin: auto;
    

    border-radius: 20px;
    width: 30%;
    height: 80%;


}

.placeholder1{

    background-color: red;

}

.placeholder01:hover{

    background-color:purple;
    width: 40px;
    height: 80px;

}

.placeholder2{



}

.placeholder3{



}



/*                                              SERVIÇOS                                                         */

.servicos-corpo {

    background-color: burlywood;
    border-radius: 33px 33px 0px 0px;
    margin: 50px auto;
    width: 75%;
    height: 220vh;

}

.parte01{

    background-color:slategray;
    border-radius: 33px 33px 0px 0px;
    width: 100%;
    height: 40vh;

}

.parte02{

    background-color:gray;
    width: 100%;
    height: 80vh;

}
